.footer {
  position: relative;
  padding: 33px 0 25px;

  @media(min-width: 768px) {
    padding: 48px 0 35px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #8AD5E3 0%, #F9AD70 35.94%, #722376 66.15%, #E780B0 98.96%);
  }

  &__wrap {
    max-width: 100%;
    height: 100%;
    padding: 0 15px;
    flex-direction: column;

    @media(min-width: 768px) {
      padding: 0 20px;
    }

    @media(min-width: 1200px) {
      padding: 0 40px;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #E3DDDD;
    padding-bottom: 25px;

    @media(min-width: 768px) {
      padding-bottom: 35px;
    }
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 30px;

    @media(min-width: 768px) {
      align-items: flex-start;
      flex: 0 0 315px;
    }

    @media(min-width: 992px) {
      align-items: center;
      flex: 0 0 415px;
      flex-direction: row;
      margin-bottom: 0;
    }

    @media(min-width: 1200px) {
      flex: 0 0 515px;
    }

    @media(min-width: 1340px) {
      flex: 0 0 715px;
    }
  }

  &__logo {
    width: 100px;

    @media(min-width: 768px) {
      width: 120px;
    }

    @media(min-width: 992px) {
      margin-right: 15px;
    }

    @media(min-width: 1200px) {
      width: 150px;
      margin-right: 25px;
    }

    @media(min-width: 1340px) {
      width: 175px;
      margin-right: 75px;
    }
  }

  &__description {
    max-width: 320px;
    flex: 1 1;
    font-size: 12px;
    line-height: 17px;
    margin-top: 20px;

    @media(min-width: 768px) {
      max-width: 465px;
    }

    @media(min-width: 992px) {
      margin-top: 0;
    }
  }

  &__contacts {
    flex: 1 1;
  }

  &__contacts-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      justify-content: flex-end;
      flex-direction: row;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $black-color;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      margin-bottom: 0;
    }

    &:hover {
      color: $purple-color;
      text-decoration: none;
    }
  }

  &__phone-icon {
    color: $purple-color;
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  &__callback {
    color: $white-color;
    background-color: $purple-color;
    width: 185px;
    height: 48px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 100px;
    z-index: 1;

    @media(min-width: 768px) {
      margin-left: 25px;
    }

    @media(min-width: 1200px) {
      margin-left: 75px;
    }
  }

  &__address {
    color: $black-color;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  &__address-label {
    font-weight: 600;
    display: none;

    @media(min-width: 768px) {
      display: inline;
    }
  }

  &__address-index {
    display: none;
  }

  &__email {
    color: $purple-color;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    &:hover {
      text-decoration: none;
    }
  }

  &__bottom {
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;

    @media(min-width: 768px) {
      padding-top: 35px;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__copyright {
    max-width: 280px;
    color: $darken-color;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__privacy {
    color: $purple-color;

    &:hover {
      color: $black-color;
      text-decoration: none;
    }
  }
}
