description = "Homepage"

[viewBag]

[advantage]
advantageName = 1

[feedbacklist]
maxFeeds = 0
feedType = "list"
sortOrder = "asc"

[advantage advantage2]
advantageName = 2

[services]
serviceName = 5
servicesType = "list"

[ImageCompareComponent]
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "loading" %}
    {% partial "header" %}
    <!-- Content -->
    <main class="main">
      {% partial "intro" %}
      {% component 'advantage' %}
      {% component 'services' %}
      {% partial "fact" %}
      {% partial "contact" %}
      {% component 'feedbacklist' %}
      {% component 'advantage2::hero' %}
      {% component 'ImageCompareComponent' %}
      {% partial "message" %}
    </main>
    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modal" %}
    {% partial "scripts" %}
    {% if this.theme.site_metrika|length > 0 %}
    {{ this.theme.site_metrika|raw }}
    {% endif %}
  </body>
</html>