description = "Homepage"

==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "loading" %}
    {% partial "header" %}
    <!-- Content -->
    <main class="main">
      {% partial "intro" %}
      {% partial "list" %}
      {% partial "animated" %}
      {% partial "why" %}
      {% partial "offers" %}
      {% partial "stats" %}
      {% partial "quest" %}
      {% partial "faq" %}
      {% partial "product" %}
      <section id="about" class="section about">
        <div class="about__wrap wrap">
          <div class="about__content">
            <h2 class="about__title">Организация и проведение детских праздников в Москве</h2>
            <div class="about__desription" data-js="about-content">
              {% page %}
            </div>
            <div class="about__show-more">
              <button type="button" class="about__button button" data-js-action="show-more">
                <span>Подробнее</span>
                <svg class="about__button-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-arrow-down'|theme }}"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="about__picture">
            <picture>
              <source srcset="{{ 'assets/images/about/seo-img.jpg'|theme|resize(450,267) }}">
              <img src="{{ 'assets/images/about/seo-img.jpg'|theme|resize(450,267) }}" alt="" class="about__picture-src" />
            </picture>
          </div>
        </div>
      </section>
      {% partial "gallery" %}
      {% partial "reviews" %}
      {% partial "message" %}
    </main>
    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modal" %}
    {% partial "scripts" %}
    {% if this.theme.site_metrika|length > 0 %}
    {{ this.theme.site_metrika|raw }}
    {% endif %}
  </body>
</html>
