.faq {
  background-color: #C83CCF;
  padding: 40px 0;

  @media(min-width: 768px) {
    padding: 80px 0;
  }

  $root: &;

  &__wrap {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;

    @media(min-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__list {
    width: 100%;
    max-width: 885px;
  }

  &__list-item {
    margin-bottom: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .25s ease;

    &_active {
      border-color: $white-color;
      background-color: $white-color;

      #{$root} {
        &__list-head {
          padding-top: 30px;
        }
        &__list-title {
          color: $purple-color;
        }
        &__list-toggle {
          top: 10px;
          border-color:#E2D4E2;
          box-shadow: 0px 10px 20px transparent;
        }
        &__list-ico_plus {
          display: none;
        }
        &__list-ico_minus {
          display: block;
        }
        &__list-body {
          opacity: 1;
        }
      }
    }
  }

  &__list-head {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 15px 80px 15px 15px;
    transition: all .25s ease;

    @media(min-width: 768px) {
      padding-right: 90px;
    }

    @media(min-width: 992px) {
      padding-right: 110px;
    }
  }

  &__list-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
    pointer-events: none;
    transition: color .2s ease;

    @media(min-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }

    @media(min-width: 992px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__list-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 0;
    margin: auto 0;
    bottom: 0;
    right: 15px;
    border: 1px solid $white-color;
    background-color: $white-color;
    box-shadow: 0px 10px 20px rgb(98 31 101 / 70%);
    pointer-events: none;
    transition: all .25s ease;

    @media(min-width: 768px) {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      right: 20px;
    }

    @media(min-width: 992px) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      right: 30px;
    }
  }

  &__list-ico {
    width: 12px;
    height: 12px;
    color: #C83CCF;

    @media(min-width: 768px) {
      width: 14px;
      height: 14px;
    }

    @media(min-width: 992px) {
      width: 15px;
      height: 15px;
    }

    &_minus {
      display: none;
    }
  }

  &__list-body {
    padding: 5px 15px 20px;
    opacity: 0;
    display: none;

    @media(min-width: 768px) {
      padding: 15px 90px 35px 30px;
    }

    @media(min-width: 992px) {
      padding-right: 110px;
    }
  }
}
