.intro {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 60px;

  @media(min-width: 1200px) {
    min-height: calc(100vh - 200px);
    padding-top: 90px;
    padding-bottom: 40px;
  }

  @media(min-width: 1340px) {
    padding-top: 180px;
    padding-bottom: 20px;
  }

  &__overlay {
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &_color {
      background: url('/themes/party/assets/images/intro/confetti-bg.png') no-repeat center;
      background-size: cover;
    }

    &_image {
      background: linear-gradient(20deg, #6e00a5 0%, rgba(110, 0, 165, 0) 60%), rgba(40, 25, 110, 0.2);
    }
  }

  &__wrap {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    @media(min-width: 992px) {
      align-items: flex-start;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    @media(min-width: 992px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__content {
    flex: 1 1;
    margin-bottom: 10px;

    @media(min-width: 992px) {
      margin-bottom: 0;
    }
  }

  &__title {
    max-width: 290px;
    color: $white-color;
    font-family: "Violet", sans-serif;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: normal;
    text-transform: uppercase;
    margin: 0;
    text-align: center;

    @media(min-width: 768px) {
      max-width: 420px;
      font-size: 40px;
      line-height: 40px;
    }

    @media(min-width: 992px) {
      max-width: 720px;
      font-size: 50px;
      line-height: 50px;
      text-align: left;
    }

    @media(min-width: 1200px) {
      font-size: 70px;
      line-height: 70px;
    }
  }

  &__advantages {
    flex: 0 0 270px;
    max-width: 270px;
    position: relative;
    margin-bottom: 20px;

    @media(min-width: 992px) {
      max-width: 360px;
      flex: 0 0 360px;
      margin-bottom: 0;
    }
  }

  &__advantages-list {
    padding: 75px 45px;
    z-index: 1;
    position: relative;

    @media(min-width: 992px) {
      padding: 85px 60px;
    }
  }

  &__advantages-item {
    position: relative;
    margin-bottom: 12px;
    font-family: "Violet", sans-serif;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: $white-color;
    padding-left: 36px;

    @media(min-width: 992px) {
      padding-left: 27px;
      font-size: 30px;
      line-height: 28px;
      margin-bottom: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__advantages-check {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 3px;

    @media(min-width: 992px) {
      width: 21px;
      height: 21px;
    }
  }

  &__advantages-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/themes/party/assets/images/intro/intro-bg.png') no-repeat center;
    background-size: contain;
  }

  &__callback {
    width: 100%;
    text-align: center;

    @media(min-width: 992px) {
      text-align: left;
    }
  }

  &__callback-btn {
    max-width: 290px;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    font-weight: 700;
    border-radius: 100px;
    color: $white-color;
    background-color: $pink-color;
    box-shadow: $shadow-lg;

    @media(min-width: 992px) {
      max-width: 330px;
      height: 75px;
      font-size: 18px;
      line-height: 22px;
    }


    &:hover {
      box-shadow: none;
    }
  }
}
