$base-font: 'Montserrat', 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-height: 26px;

$dark-color: #5A5B69;
$darken-color: #7a687b;
$grey-color: #afafb9;
$white-color: #FFF;
$black-color: #000;
$light-color: #E0E0E0;


$blue-color: #007AFF;
$pink-color: #FF1C80;
$pink-color-hover: #DB2973;
$purple-color: #89208E;
$green-color:  #16C512;
$yellow-color: #FFC52C;
$orange-color: #fc923e;

$turquoise-color:#60cde1;
$turquoise-color-transparent: rgba(116, 224, 244, 0.7);

$shadow-lg: 0px 24px 34px rgb(40 8 39 / 50%);
