.why {
  padding-top: 40px;

  @media(min-width: 992px) {
    padding-top: 80px;
  }

  &__title {
    margin-bottom: 40px;

    @media(min-width: 992px) {
      margin-bottom: 60px;
    }
  }

  &__wrap {
    flex-direction: column;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    max-width: 920px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    align-items: center;
    flex-direction: column;

    @media(min-width: 768px) {
      align-items: flex-start;
      flex-direction: row;
      margin: 0 -10px;
    }

    @media(min-width: 992px) {
      margin: 0 -25px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 320px;
    width: 100%;
    margin-bottom: 25px;

    @media(min-width: 768px) {
      width: calc(50% - 20px);
      margin: 0 10px 25px 10px;
    }

    @media(min-width: 992px) {
      max-width: 100%;
      width: calc(50% - 50px);
      margin: 0 25px 50px 25px;
    }
  }

  &__item-picture {
    width: 70px;
    height: 70px;

    @media(min-width: 992px) {
      width: 105px;
      height: 105px;
    }
  }

  &__item-descr {
    flex: 1 1;
    margin-left: 25px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: $black-color;

    @media(min-width: 992px) {
      margin-left: 35px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__image {
    display: none;

    @media(min-width: 1200px) {
      display: block;
      width: 100%;
      max-width: 300px;
    }
  }
}
