<section class="contact section">
  <div class="contact__wrap wrap">
    <div class="contact__form">
      <h2 class="contact__title">Остались вопросы?</h2>
      <p class="contact__description">
        Оставьте заявку и получите подробную консультацию и расчет в течение 5 минут
      </p>
      <div class="contact__phone">
        <div class="contact__phone-label">Или свяжитесь с нами по телефону:</div>
        <a href="tel:{{ this.theme.phone }}" class="contact__phone-val">{{ this.theme.phone }}</a>
      </div>
      <div class="contact__bottom">
        <button
          type="button"
          class="contact__button button"
          data-js-action="open-modal"
          data-name="callback"
        >
          Получить консультацию
        </button>
      </div>
    </div>
  </div>
</section>
