.product {
  padding-top: 40px;
  background-color: $white-color;

  @media(min-width: 768px) {
    padding-top: 80px;
  }

  $root: &;

  &__wrap {
    flex-direction: column;
  }

  &__slider-wrapper {
    margin-bottom: 30px;

    @media(min-width: 575px) {
      margin-bottom: 0;
    }
  }

  &__row {
    width: 100%;
  }

  &__item {
    padding: 15px;
  }

  &__item-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 10px;
    background-color: $white-color;
    border: 1px solid #EBE7E7;
    overflow: hidden;
  }

  &__item-picture {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 80%;
    overflow: hidden;

    &:hover {
      #{$root} {
        &__item-image {
          transform: scale(1.2);
        }
      }
    }
  }

  &__item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: transform .3s ease;
  }

  &__item-tag {
    position: absolute;
    max-width: calc(100% - 30px);
    top: 15px;
    left: 15px;
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $white-color;
    background-color: #722376;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }

  &__item-body {
    width: 100%;
    text-align: center;
    padding: 20px 20px 30px;

    @media(min-width: 768px) {
      padding: 25px 30px 35px;
    }

    @media(min-width: 992px) {
      padding: 25px 45px 35px;
    }
  }

  &__item-name {
    max-width: 100%;
    font-family: "Violet", sans-serif;
    font-size: 26px;
    line-height: 24px;
    min-height: 48px;
    letter-spacing: 0.01em;
    color: $black-color;
    margin-bottom: 20px;

    @media(min-width: 992px) {
      max-width: 210px;
      font-size: 30px;
      line-height: 28px;
      min-height: 56px;
    }
  }

  &__item-price {
    max-width: 100%;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #722376;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;

    @media(min-width: 992px) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    span {
      color: #717285;
      font-weight: 400;
    }
  }

  &__item-button {
    width: 100%;
    height: 48px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    border-radius: 5px;
    color: $white-color;
    background-color: $purple-color;
  }

  &__pagination {
    position: absolute;
    bottom: 15px !important;
    display: flex;
    justify-content: center;

    @media(min-width: 575px) {
      display: none;
    }
  }

  &__bullet {
    position: relative;
    width: 22px;
    height: 3px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #EBDBDC;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background: #AA1CB1;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: calc(50% - 15px);
    z-index: 2;
    background: $white-color;
    border: 1px solid #E0D0E1;
    transition: all .2s ease;

    @media(min-width: 575px) {
      display: none;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }

    &:hover {
      background: $purple-color;
      border-color: $purple-color;
      #{$root} {
        &__btn-arrow {
          color: $white-color;
        }
      }
    }
  }

  &__btn-arrow {
    color: $purple-color;
    width: 12px;
    height: 12px;
  }
}
