<section class="section message">
  <div class="message__wrap wrap">
    <div class="title title_yellow message__title">
      <svg class="title__ico">
        <use xlink:href="{{ 'assets/spritemap.svg#sprite-splash-left-p'|theme }}"></use>
      </svg>
      <h2 class="title__text">Остались вопросы?</h2>
      <svg class="title__ico">
        <use xlink:href="{{ 'assets/spritemap.svg#sprite-splash-right-p'|theme }}"></use>
      </svg>
    </div>
    <p class="message__description">
      Если у вас остались вопросы или что-то непонятно —
      оставьте заявку и наш менеджер свяжется с вами в ближайшее время
    </p>
    <form autocomplete="off" class="message__form" data-js-action="send-form">
      <div class="message__form-group">
        <div class="message__form-container">
          <input type="text" name="user_name" placeholder="Ваше имя" aria-label="Ваше имя" class="message__form-input" />
          <span class="message__error" data-error-for="user_name"></span>
        </div>
        <div class="message__form-container">
          <input type="tel" name="user_phone" data-js="phone" placeholder="+7 (___) ___-__-__" aria-label="Телефон" class="message__form-input" />
          <span class="message__error" data-error-for="user_phone"></span>
        </div>
        <input type="hidden" name="user_message" value="Остались вопросы?" />
      </div>
      <p class="message__form-policy">Нажимая на кнопку «Отправить», вы соглашаетесь на обработку персональных данных</p>
      <button type="submit" class="message__form-submit">Отправить</button>
      <div class="message__form-success" data-js="success"></div>
      <div class="message__form-phone">
        <div class="message__form-phone-label">Звоните нам:</div>
        <a href="tel:{{ this.theme.phone }}" class="message__form-phone-value">{{ this.theme.phone }}</a>
      </div>
    </form>
    <div class="message__socials">
      {% if this.theme.vk %}
      <a class="message__socials-link" href="{{ this.theme.vk }}" aria-label="Ссылка на vk.com" target="_blank" title="vk.com">
        <svg class="message__socials-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-social-vk'|theme }}"></use>
        </svg>
      </a>
      {% endif %}
      {% if this.theme.instagram %}
      <a class="message__socials-link" href="{{ this.theme.instagram }}" aria-label="Ссылка на instagram.com" target="_blank" title="instagram.com">
        <svg class="message__socials-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-social-instagram'|theme }}"></use>
        </svg>
      </a>
      {% endif %}
      {% if this.theme.whatsapp %}
      <a class="message__socials-link" href="whatsapp://send?phone=+{{ this.theme.whatsapp }}" aria-label="Ссылка на whatsapp" title="whatsapp">
        <svg class="message__socials-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-social-whatsapp'|theme }}"></use>
        </svg>
      </a>
      {% endif %}
      {% if this.theme.youtube %}
      <a class="message__socials-link" href="{{ this.theme.youtube }}" aria-label="Ссылка на youtube.com" target="_blank" title="youtube.com">
        <svg class="message__socials-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-social-youtube'|theme }}"></use>
        </svg>
      </a>
      {% endif %}
      {% if this.theme.fb %}
      <a class="message__socials-link" href="{{ this.theme.fb }}" aria-label="Ссылка на facebook.com" target="_blank" title="facebook.com">
        <svg class="message__socials-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-social-facebook'|theme }}"></use>
        </svg>
      </a>
      {% endif %}
    </div>
  </div>
</section>
