<section class="offers section" id="offers">
  <div class="wrap offers__wrap">
    <div class="title title_white offers__title">
      <svg class="title__ico">
        <use xlink:href="{{ 'assets/spritemap.svg#sprite-splash-left-p'|theme }}"></use>
      </svg>
      <h2 class="title__text">Специальные предложения</h2>
      <svg class="title__ico">
        <use xlink:href="{{ 'assets/spritemap.svg#sprite-splash-right-p'|theme }}"></use>
      </svg>
    </div>
    <p class="offers__description">
      Подберем программу под любой бюджет!
      Мы предлагаем 4 стандарта анимационных программ,
      у нас каждый подберет для себя веселье по карману!
    </p>
    <div class="offers__row">
      <div class="offers__slider swiper" data-js="offers-slider">
        <div class="swiper-wrapper offers__slider-wrapper">
          <div class="swiper-slide offers__slide">
            <div class="offers__slide-content">
              <div class="offers__slide-top">
                <div class="offers__slide-suptitle">Готовый пакет услуг</div>
                <div class="offers__slide-title offers__slide-title_pink">Удачный</div>
                <div class="offers__slide-list">
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>1 час театрализованного действия 1 аниматора (любой костюм на выбор)</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Миниквест с поиском подарка по зашифрованым подсказкам</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Шар сюрприз</span>
                  </div>
                </div>
              </div>
              <div class="offers__slide-bottom">
                <div class="offers__slide-time">
                  1,5 часа до 10 детей
                </div>
                <div class="offers__slide-price">
                  4 900 руб.
                  <del>5 500 руб.</del>
                </div>
                <button type="button" class="offers__slide-btn button">Заказать</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide offers__slide">
            <div class="offers__slide-content">
              <div class="offers__slide-tag">Хит</div>
              <div class="offers__slide-top">
                <div class="offers__slide-suptitle">Готовый пакет услуг</div>
                <div class="offers__slide-title offers__slide-title_purple">Оптимальный</div>
                <div class="offers__slide-list">
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>1 час театрализованного действия 1 аниматора (любой костюм на выбор), бонус - фокусы бесплатно.</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Мыльные пузыри «Летающее волшебство» - необычные фокусы с мыльными пузырями, погружение всех детей в пузырь, интерактивная часть. (Возможна работа аниматора от 1го до 3х и более часов)</span>
                  </div>
                </div>
              </div>
              <div class="offers__slide-bottom">
                <div class="offers__slide-time">
                  1 час 40 мин. до 10 детей
                </div>
                <div class="offers__slide-price">
                  6 900 руб.
                  <del>7 500 руб.</del>
                </div>
                <button type="button" class="offers__slide-btn button">Заказать</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide offers__slide">
            <div class="offers__slide-content">
              <div class="offers__slide-top">
                <div class="offers__slide-suptitle">Готовый пакет услуг</div>
                <div class="offers__slide-title offers__slide-title_turquoise">Волшебство</div>
                <div class="offers__slide-list">
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>1 час театрализованного представления 1 героя аниматора (выбрать программу)</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>1 час в научном стиле «Веселая наука»</span>
                  </div>
                </div>
              </div>
              <div class="offers__slide-bottom">
                <div class="offers__slide-time">
                  Продолжительность программы: от 2х часов
                </div>
                <div class="offers__slide-time">
                  Возможна работа аниматоров от 1го до 3х и более часов
                </div>
                <div class="offers__slide-price">
                  9 400 руб.
                  <del>10 500 руб.</del>
                </div>
                <button type="button" class="offers__slide-btn button">Заказать</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide offers__slide">
            <div class="offers__slide-content">
              <div class="offers__slide-top">
                <div class="offers__slide-suptitle">Готовый пакет услуг</div>
                <div class="offers__slide-title offers__slide-title_orange">Веселье малышам</div>
                <div class="offers__slide-list">
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Интерактивное действие 1 клоун или персонаж (посмотрите программы на выбор), спектакль с наручными куклами, 1 час</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Мыльные пузыри или поролоновая или бумажная пати 40 минут</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Фокусы: с ежиком, черепашкой, кроликом и морскими свинками и другие фокусы - 40 минут. Возможны другие варианты животных</span>
                  </div>
                  <div class="offers__slide-item">
                    <svg class="offers__slide-ico">
                      <use xlink:href="{{ 'assets/spritemap.svg#sprite-checkmark2'|theme }}"></use>
                    </svg>
                    <span>Шар сюрприз</span>
                  </div>
                </div>
              </div>
              <div class="offers__slide-bottom">
                <div class="offers__slide-time">
                  Продолжительность программы: от 2ч 10 мин.
                </div>
                <div class="offers__slide-price">
                  15 000 руб.
                  <del>17 500 руб.</del>
                </div>
                <button type="button" class="offers__slide-btn button">Заказать</button>
              </div>
            </div>
          </div>
        </div>
        <div class="offers__pagination"></div>
        <button type="button" class="offers__btn offers__btn_prev" data-js-action="prev-slide">
          <svg class="offers__btn-arrow">
            <use xlink:href="{{ 'assets/spritemap.svg#sprite-arrow-prev'|theme }}"></use>
          </svg>
        </button>
        <button type="button" class="offers__btn offers__btn_next" data-js-action="next-slide">
          <svg class="offers__btn-arrow">
            <use xlink:href="{{ 'assets/spritemap.svg#sprite-arrow-next'|theme }}"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
