<div class="section stats">
  <div class="stats__wrap wrap">
    <div class="stats__row">
      {% for count in this.theme.count %}
      <div class="stats__item" style="background-color: {{ count.color ? count.color : '#60cde1' }}">
        <picture>
          <source srcset="{{ count.icon|media }}">
          <img
            src="{{ count.icon|media }}"
            alt="{{ count.title }}"
            class="stats__item-image"
          />
        </picture>
        <div class="stats__number">
          {{ count.number }}
        </div>
        <div class="stats__description">
          {{ count.title }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
