@import "./fonts.scss";
@import "./vars.scss";
@import "./mixins.scss";
@import "./keyframes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: $grey-color;
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  min-width: 320px;
  line-height: $base-line-height;
  letter-spacing: -0.01em;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  overflow-x: hidden;
  background: $darken-color;

  &.open-modal {
    overflow: hidden;
  }
}

input, button, select, textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease;

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

ol, ul {
  padding-left: 20px;
}

a {
  color: $grey-color;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

span[hidden], img[hidden] {
  display: none;
}

svg {
  display: inline-block;
  transition: all .25s ease;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 15px;

  @media(min-width: 768px) {
    max-width: 768px;
  }

  @media(min-width: 992px) {
    max-width: 992px;
  }

  @media(min-width: 1200px) {
    max-width: 1200px;
  }

}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  min-width: 768px;
  margin-bottom: 1rem;
  color: $dark-color;
  vertical-align: top;
  border-color: $grey-color;
  border-spacing: 0;
  border-top: 1px solid $grey-color;

  @media(min-width: 768px) {
    min-width: auto;
  }

  tr, td, thead, tbody {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  thead {
    vertical-align: bottom;
  }

  tr {
    border-width: 0;
  }

  td, th {
    font-size: 14px;
    line-height: 19px;
    color: $dark-color;
    padding: 8px 6px;
    border-width: 1px;
    border-top: 0;
    border-right: 0;

    &:last-child {
      border-right: 1px solid $grey-color;
    }

    @media(min-width: 768px) {
      padding: 10px 8px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

ul, ol {
  list-style-type: none;
  margin: 15px 0;
  padding-left: 40px;
}

li {
  position: relative;
  margin-bottom: 7.5px;
  color: $grey-color;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    top: 0.7em;
    left: -18px;
    background: $grey-color;
  }
}

ol li {
  counter-increment: step-counter;

  &::before {
    width: 30px;
    text-align: right;
    content: counter(step-counter) ".";
    position: absolute;
    display: inline-block;
    top: 0;
    left: -38px;
    color: $grey-color;
    font-weight: 700;
    background: none;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 30px;
  border-radius: 5px;
  box-shadow: 11px 11px 40px 0 rgb(214 4 8 / 20%);
  font-size: 18px;
  font-weight: 500;
  color: $white-color;

  background: linear-gradient(90deg, $blue-color 0%, $blue-color 10%, $red-color 50%, $red-color 60%, $blue-color 90%, $blue-color 100%);
  background-size: 200% auto;

  transition: all .3s ease;

  &:hover {
    background-position: right center;
  }
}

.hidden {
  display: none;
}

.main {
  margin-top: 60px;
  overflow: hidden;

  @media(min-width: 1200px) {
    margin-top: 80px;
  }
}

.title {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  text-align: center;

  @media(min-width: 768px) {
    text-align: left;
    margin-bottom: 50px;
  }

  &__ghost {
    position: absolute;
    left: 0;
    right: 0;
    top: -2px;
    color: $dark-color;;
    font-size: 36px;
    line-height: 0.8em;
    font-weight: 700;

    @media(min-width: 768px) {
      font-size: 60px;
      left: -6px;
      right: auto;
      top: -10px;
    }

    @media(min-width: 992px) {
      font-size: 86px;
      top: -24px;
    }

    @media(min-width: 1200px) {
      font-size: 96px;
      top: -34px;
    }
  }

  &__text {
    position: relative;
    font-size: 19px;
    line-height: 1.4em;
    font-weight: 700;
    margin: 0;

    @media(min-width: 768px) {
      font-size: 32px;
    }
  }

  &__text-dot {
    color: $blue-color
  }

  &__description {
    font-size: 14px;
    margin-top: 30px;

    @media(min-width: 768px) {
      font-size: 16px;
    }

    @media(min-width: 1200px) {
      margin-top: 40px;
      font-size: 20px;
    }
  }
}

.widget-whatsapp {
  bottom: 30px;
  right: 15px;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: $green-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: pulse-wa 3s linear infinite;

  @media(min-width: 768px) {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 40px;
    right: 30px;
  }

  &__ico {
    width: 16px;
    height: 16px;
    fill: $white-color;

    @media(min-width: 992px) {
      width: 26px;
      height: 26px;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

@import './components/header';
@import './components/intro';
@import './components/form';
@import './components/why';
@import './components/fact';
@import './components/contact';
@import './components/reviews';
@import './components/steps';
@import './components/gallery';
@import './components/modal';
@import './components/service';
@import './components/modal-form';
@import './components/footer';
@import './components/works';
@import './ligthbox.css';
@import './components/loading';
@import 'image-compare-viewer/dist/image-compare-viewer.min.css';
