@keyframes fadeOut {
  0% {
    opacity: 1
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100%{
    opacity: 0;
    display:none;
  }
}

@keyframes pulse-wa {
  0% {
    box-shadow: 0 0 0 0px rgba($green-color, 0), 0 0 0 0px rgba($green-color, 0);
  }
  40% {
    box-shadow: 0 0 0 15px rgba($green-color, 0.2), 0 0 0 27px rgba($green-color, 0.12);
  }
  80% {
    box-shadow: 0 0 0 15px rgba($green-color, 0), 0 0 0 27px rgba($green-color, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba($green-color, 0), 0 0 0 27px rgba($green-color, 0);
  }
}
