$base-font: 'Gotham Pro', 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5em;

$dark-color: #242424;
$darken-color: #0d0d0d;
$grey-color: #e5e5e5;
$white-color: #FFF;
$black-color: #000;
$link-color: #ccc;

$blue-color: #0c5dbc;
$red-color: #d60408;
$pink-color: #FF1C80;
$purple-color: #89208E;
$green-color:  #16C512;
$yellow-color: #FFC52C;
$orange-color: #fc923e;


$shadow-md: 0 5px 20px 0 rgba($black-color, .9);
