.offers {
  position: relative;
  margin-top: 40px;
  padding: 40px 0 30px;
  z-index: 1;
  background-color: rgba(116, 224, 244, 0.7);

  $root: &;

  @media(min-width: 768px) {
    margin-top: 80px;
    padding: 70px 0 60px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/themes/party/assets/images/offers/offers-bg.png') 50% 50% repeat;
    background-size: 185px auto;
    z-index: -1;
    opacity: .04;
    filter: saturate(0);
  }

  &__wrap {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    max-width: 720px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: $darken-color;
    margin-bottom: 30px;

    @media(min-width: 768px) {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__row {
    width: 100%;

    @media(min-width: 1440px) {
      padding: 0 60px;
    }
  }

  &__slider-wrapper {
    margin-bottom: 30px;

    @media(min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__slide {
    padding: 0 15px;
  }

  &__slide-content {
    position: relative;
    border-radius: 10px;
    background-color: $white-color;
  }

  &__slide-tag {
    position: absolute;
    max-width: 55px;
    top: 20px;
    left: 0;
    padding: 5px 10px;
    border-radius: 0px 3px 3px 0px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: $white-color;
    background-color: #722376;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__slide-top {
    padding: 25px 18px;

    @media(min-width: 768px) {
      padding: 25px 20px;
    }

    @media(min-width: 1340px) {
      padding: 25px 35px;
    }
  }

  &__slide-suptitle {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $darken-color;
    margin-bottom: 15px;
  }

  &__slide-title {
    font-family: "Violet", sans-serif;
    font-size: 28px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      font-size: 32px;
      line-height: 29px;
      margin-bottom: 25px;
    }

    &_pink {
      color: #e780b0;
    }

    &_purple {
      color: $purple-color;
    }

    &_turquoise {
      color: $turquoise-color;
    }

    &_orange {
      color: $orange-color;
    }
  }

  &__slide-item {
    position: relative;
    margin-bottom: 18px;
    padding-left: 32px;
    color: $darken-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &__slide-ico {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__slide-time {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 14px;

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 10px;
      left: 0;
      top: 7.5px;
      position: absolute;
      background-color: $purple-color;
    }
  }

  &__slide-bottom {
    padding: 0 25px 20px;

    @media(min-width: 1340px) {
      padding: 0 45px 35px;
    }
  }

  &__slide-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $black-color;
    border-top: 1px solid #EBE3E3;
    margin-bottom: 17px;

    del {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $darken-color;
    }
  }

  &__slide-btn {
    color: $white-color;
    background-color: $purple-color;
    width: 100%;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 100px;

  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: calc(50% - 15px);
    z-index: 2;
    background: $white-color;
    border: 1px solid #E0D0E1;
    transition: all .2s ease;

    @media(min-width: 1200px) {
      display: none;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }

    &:hover {
      background: $purple-color;
      border-color: $purple-color;
      #{$root} {
        &__btn-arrow {
          color: $white-color;
        }
      }
    }
  }

  &__btn-arrow {
    color: $purple-color;
    width: 12px;
    height: 12px;
  }

  &__pagination {
    position: absolute;
    bottom: 15px !important;
    display: flex;
    justify-content: center;

    @media(min-width: 1200px) {
      display: none;
    }
  }

  &__bullet {
    position: relative;
    width: 22px;
    height: 3px;
    border-radius: 50px;
    cursor: pointer;
    background-color: $white-color;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background: #AA1CB1;
    }
  }
}
